extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	section.canhcam-design-1
		.container-fluid-full
			.row.no-gutters
				.col-8
					.box-product Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis doloribus animi reprehenderit itaque blanditiis eius, consectetur accusantium porro libero iste ad dicta vitae asperiores necessitatibus fugiat error? Sapiente, alias recusandae.
				.col-4.select
					.select-color
						ul
							li.item.active
								a(href="#") 
									i.fa.fa-home
									span Chọn màu tường
							li.item 
								a(href="#") 
									i.fa.fa-home
									span Chọn màu tường
							li.item 
								a(href="#") 
									i.fa.fa-home
									span Chọn màu tường
					.select-nav
						.select-nav-slider
							.owl-carousel.owl-theme
								.item
									a.btn-title(href="#") lo h hjkh jkh jh 
								.item.active
									a.btn-title(href="#") lo h hjkh jkh jh 
								.item
									a.btn-title(href="#") lo h hjkh jkh jh 
								.item
									a.btn-title(href="#") lo h hjkh jkh jh 
								.item
									a.btn-title(href="#") lo h hjkh jkh jh 
								.item
									a.btn-title(href="#") lo h hjkh jkh jh 
								.item
									a.btn-title(href="#") lo h hjkh jkh jh
						hr 
						.select-nav-color
							h3.h5.mt-0.mb-0 Lorem ipsum
							.list-item
								.item
								.item
								.item
								.item
								.item
								.item
								.item
								.item
								.item



