extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	#loading
		.bar Đang tải dữ liệu...
		.progress
			.progress-bar.progress-bar-striped.bg-secondary.progress-bar-animated(role="progressbar" aria-valuenow="100" style="width: 100%" aria-valuemin="0" ariavaluemax="100")

	section.canhcam-design-1(ng-controller="mainControl")
		.container-fluid-full
			.row.no-gutters
				.col-8
					.box-product 
						.showloading-material(ng-show="showloadingmaterial") 
							.inner
								i.fa.fa-sync.fa-spin.mr-1
								| 
								| {{lang.loading}}
						.apply-content {{data.desc}}
				.col-4.select(ng-controller="getMenuMaterial")
					.select-color
						ul
							//- li.item(ng-repeat="item in menus", ng-class="{active: $index == 0 }")
							li.item(ng-repeat="item in menus")
								a(href="javascript:void(0);" onclick="toggleMenu(this)" ng-click="ctrlClickHandler(item.get)") 
									em(ng-bind-html="item.icon | html")
									span {{item.name}}
					.select-nav
						.select-nav-color
							h3.h5.mt-2.mb-0 {{lang.material}}
							.alert.alert-info.mt-3(ng-show="!materials.length && !showloading") {{lang.noitem}}
							.showloading.mt-3(ng-show="showloading") 
								i.fa.fa-sync.fa-spin.mr-1
								| 
								| {{lang.loading}}
							ul.list-item
								li.item(ng-repeat="item in materials", ng-style="{'background-color':item.color, 'background-image':'url('+item.image+')'}")
									a(href="javascript:void(0);" onclick="toggleMenu(this)" ng-click="setPattern(item)")


