extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	section.canhcam-design-1
		.container-fluid
			.row.no-gutters
				.col-8
					h1 hello
				.col-4
					.select-color
						a.btn.btn-color Chọn màu tường
						a.btn.btn-color Chọn màu tường
						a.btn.btn-color Chọn màu tường
					.slide-sub
						.owl-carousel.owl-theme
							.item
								a.btn.btn-title(href="#")
									h5 hihi
									p hihi hihi hiih
							.item
								a.btn.btn-title(href="#")
									h5 hihi
									p hihi hihi hiih
							.item
								a.btn.btn-title(href="#")
									h5 hihi
									p hihi hihi hiih
							.item
								a.btn.btn-title(href="#")
									h5 hihi
									p hihi hihi hiih
							.item
								a.btn.btn-title(href="#")
									h5 hihi
									p hihi hihi hiih
							.item
								a.btn.btn-title(href="#")
									h5 hihi
									p hihi hihi hiih
							.item
								a.btn.btn-title(href="#")
									h5 hihi
									p hihi hihi hiih\
					.color-list
						h3 Lorem ipsum
						.list-item
							.item.color-1
								.name LK-8005
							.item.color-2
							.item
							.item
							.item
							.item
							.item
							.item
							.item



