
#drawimages 
	position: relative
	.blockprodis-goiom
		position: absolute
		top: 20%
		left: 50%
		transform: translateX(-50%) scale(.8)
		.goiom
			width: 562px
			height: 223px
			-webkit-mask-image: url('../img/goiom.png')
			mask-image: url('../img/goiom.png')
			webkit-mask-image: url('../img/goiom.png')
			mask-mode: alpha
			webkit-mask-mode: alpha
			-webkit-mask-repeat: no-repeat
			mask-repeat: no-repeat
			webkit-mask-repeat: no-repeat
			-webkit-mask-position: center
			mask-position: center
			webkit-mask-position: center
		.goiom-cover
			position: absolute
			top: 0
			width: 562px
			height: 223px
